{% extends 'bootstrapBlogTemplate/index.html' %}
{% load static %}

{% block navbar %}
    {% include 'bases/navbar.html' %}
{% endblock%}

{% block header %}
    {% include 'bases/header.html' %}
{% endblock %}

{% block content %}
    {% include 'bases/content.html' %}
{% endblock %}

{% block footer %}
    {% include 'bases/footer.html' %}
{% endblock %}


<!-- <h1>Posts</h1>
<ul>
    <li>
        {% for post in object_list %}
        <a href="{% url 'readMore' post.pk %}">
            {{post.title}}
        </a>
        <p>Escrito por: {{post.author.first_name}}</p>
            {{post.body}}
        {% endfor%}
    </li>
</ul> -->
